In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Social_Network_Ads.csv")

In [3]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
data = pd.get_dummies(data, dtype=int,drop_first=True)

In [5]:
data

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:

# Axis =  1 --> Column wise delete
# Axis = 0 ---> Row wise delete
data = data.drop("User ID",axis = 1)

In [7]:
data

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [8]:
Independent = data[['Gender_Male','Age','EstimatedSalary']]

In [9]:
Dependent = data[['Purchased']]

In [10]:
Independent

     Gender_Male  Age  EstimatedSalary
0              1   19            19000
1              1   35            20000
2              0   26            43000
3              0   27            57000
4              1   19            76000
..           ...  ...              ...
395            0   46            41000
396            1   51            23000
397            0   50            20000
398            1   36            33000
399            0   49            36000

[400 rows x 3 columns]

In [11]:
Dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Independent, Dependent, test_size = 0.30, random_state = 42)

In [13]:
X_train

     Gender_Male  Age  EstimatedSalary
157            1   29            75000
109            0   38            80000
17             1   45            26000
347            0   54           108000
24             1   46            23000
..           ...  ...              ...
71             0   24            27000
106            0   26            35000
270            0   43           133000
348            1   39            77000
102            0   32            86000

[280 rows x 3 columns]

In [14]:
X_test

     Gender_Male  Age  EstimatedSalary
209            0   46            22000
280            0   59            88000
33             0   28            44000
210            0   48            96000
93             0   29            28000
..           ...  ...              ...
60             1   27            20000
79             0   26            17000
285            0   37            93000
305            1   42            54000
281            1   35            61000

[120 rows x 3 columns]

In [15]:
y_train

     Purchased
157          0
109          0
17           1
347          1
24           1
..         ...
71           0
106          0
270          0
348          0
102          0

[280 rows x 1 columns]

In [16]:
y_test

     Purchased
209          0
280          1
33           0
210          1
93           0
..         ...
60           0
79           0
285          1
305          0
281          0

[120 rows x 1 columns]

In [17]:
from sklearn.svm import SVC

In [27]:
classified=SVC(kernel='sigmoid',random_state=42)

In [28]:
classified

SVC(kernel='sigmoid', random_state=42)

In [29]:
classified.fit(X_train, y_train)

C:\Users\keert\anaconda3\anaconda\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='sigmoid', random_state=42)

In [30]:
y_pred = classified.predict(X_test)

In [31]:
from sklearn.metrics import confusion_matrix

In [32]:
confusion_matrix(y_test,y_pred)

array([[46, 27],
       [37, 10]], dtype=int64)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
Clf_report = classification_report(y_test, y_pred)

In [ ]:
Clf_report

In [ ]:
Gender = int(input("Enter you gender (Male: 1, Female: 0): "))
Age = int(input("Enter you Age: "))
Estimated_Salary = int(input("Enter your Estimated Salary: "))

classified.predict([[Gender, Age, Estimated_Salary]])

In [ ]:
import pickle

In [ ]:
#save the model name and create a file need to end in.sav
fname="final_model_pred.pkl"

In [ ]:
# Save the model into the model name,dump=open,wb=write binary
pickle.dump(classified,open(fname,'wb'))

In [ ]:
loaded_model=pickle.load(open("final_model_pred.pkl",'rb'))
loaded_model

In [ ]:
result=loaded_model.predict([[Gender,Age,Estimated_Salary]])

In [ ]:
result